{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<a href="{{path('app_modules')}}" class="btn btn-lg btn-outline-dark p-3 m-5" role="button" aria-pressed="true">Liste des modules</a>
{% endblock %}
