/********** CLASSES GENERIQUES *********/

:root {
  --grisclair: #dadada;
  --gris: #565454;
  --grisfonce: #3a3b3a;
  --jaune: #ffd121;
  --jaunefonce: #f7b81d;
}


/********** NAVBAR *********/

.logo {
  height: 50px;
}

/********** HOMEPAGE *********/

/* Espace connexion */

.connexion {
  gap: 10px;
}

.boutons{
  width: 60%;
}

.boutoncojaune {
  width: 300px;
  border-radius: 20px;
  background-color: var(--jaune);
  color: var(--grisfonce);
  text-decoration: none;  
}

.carregris {
  background-color: var(--grisclair);
  width: 20%;
}

.carregris img {
  width: 300px;
  margin-left: -150px;
}

/********** DETAILSMODULE *********/

.bloc1 {
  max-width: 300px;
  min-height: 450px;
  border: 2px solid var(--grisclair);
  font-size: 12px;
}

.fondjaune {
  background-color: #f8d950ab;
}

.carre {
  width: 200px;
  height: 130px;
  border: 2px solid var(--grisclair);
}

.bloc3 {
  min-width: 400px;
  border: 2px solid var(--grisclair);
}

.bloc3 h4 {
  color: var(--jaune);
}



