.logo {
  height: 50px;
}

.bloc1 {
  max-width: 300px;
  min-height: 450px;
  border: 2px solid rgb(197, 195, 195);
  font-size: 12px;
}

.fondjaune {
  background-color: #f8d950ab;
}

.carre {
  width: 200px;
  height: 130px;
  border: 2px solid rgb(197, 195, 195);
}

.bloc3 {
  min-width: 400px;
  border: 2px solid rgb(197, 195, 195);
}

.bloc3 h4 {
  color: #ffd121;
}