{% extends 'base.html.twig' %}

{% block title %}Module {{module.id}}{% endblock %}

{% block body %}
<div class="container">

	<h1 class="text-center m-3">{{ module.nommodule }}</h1>
	<div class="d-flex gap-5 justify-content-center m-5">
		<div class="text1 d-flex justify-content-center align-items-center">
			<p class="descr">{{module.descriptionmodule}}</p>
		</div>
		<div class="videoo d-flex justify-content-center align-items-center">
			{% if contenu.description is defined %}			
			<p>{{contenu.description}}</p>
			{% endif %}
		</div>
	</div>	

</div>
{% endblock %}
